In [ ]:
## Read the created tmdb_dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('(write_your_file_path)\tmdb_dataset.csv')
df.head(2)

,Unnamed: 0,budget,id,keywords,popularity,production_companies,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,genres_list,Countries,release_year,language
0,0,237000000,19995,"['culture clash', 'future', 'space war', 'spac...",150.437577,4,2787965087,162.0,"['English', 'Espa']",1,Avatar,7.2,11800,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['United States of America', 'United Kingdom']",2009.0,en
1,1,300000000,285,"['ocean', 'drug abuse', 'exotic island', 'east...",139.082615,3,961000000,169.0,['English'],1,Pirates of the Caribbean: At World's End,6.9,4500,"['Adventure', 'Fantasy', 'Action']",['United States of America'],2007.0,en

## Q1

In [2]:
# how many movies are made in english language

In [6]:
(df.language == 'en').sum()

4505

In [7]:
len(df[df.language == 'en'])

4505

In [8]:
(df[df.language == 'en']).shape[0]

4505

## Q2

In [11]:
# create a series of english movie titles
df[df.language == 'en']['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4797                                      Cavite
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4505, dtype: object

## Q3

In [ ]:
# how many movies are made in every language ? (value_counts)

In [9]:
df.language.value_counts()

en    4505
fr      70
es      32
de      27
zh      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
fa       4
nl       4
he       3
th       3
ar       2
cs       2
id       2
ta       2
ro       2
nb       1
sl       1
pl       1
te       1
no       1
ps       1
xx       1
is       1
el       1
af       1
hu       1
vi       1
ky       1
tr       1
Name: language, dtype: int64

## Q4

In [ ]:
# how many languages are there in which only one movie is made ?

In [12]:
(df.language.value_counts() == 1).sum()

14

## Q5

In [ ]:
# which movie gathered maximum revenue

In [13]:
df.revenue.max()

2787965087

In [14]:
df.revenue.idxmax()

0

In [15]:
df.iloc[df.revenue.idxmax()]

Unnamed: 0                                                              0
budget                                                          237000000
id                                                                  19995
keywords                ['culture clash', 'future', 'space war', 'spac...
popularity                                                     150.437577
production_companies                                                    4
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages                                      ['English', 'Espa']
status                                                                  1
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
genres_list             ['Action', 'Adventure', 'Fantasy', 'Science Fi...
Countries                  ['United States of America', 'United Kingdom']
release_year                                                       2009.0
language                                                               en
Name: 0, dtype: object

In [16]:
df.iloc[[df.revenue.idxmax()]]

,Unnamed: 0,budget,id,keywords,popularity,production_companies,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,genres_list,Countries,release_year,language
0,0,237000000,19995,"['culture clash', 'future', 'space war', 'spac...",150.437577,4,2787965087,162.0,"['English', 'Espa']",1,Avatar,7.2,11800,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['United States of America', 'United Kingdom']",2009.0,en

In [23]:
df.loc[[df.revenue.idxmax()]]['title']

0    Avatar
Name: title, dtype: object

## Q6

In [18]:
# find movie with least vote_count

In [19]:
df.vote_count.min()

0

In [20]:
df.vote_count.idxmin()

1464

In [22]:
df.loc[[df.vote_count.idxmin()]]['title']

1464    Black Water Transit
Name: title, dtype: object

## Q 7

In [ ]:
# sort by budget
new_tmdb_dataset.sort_values('budget').tail(3)

## Q 8

In [24]:
# sort according to popularity
df.sort_values('popularity').head(5)

,Unnamed: 0,budget,id,keywords,popularity,production_companies,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,genres_list,Countries,release_year,language
4553,4553,0,380097,[],0.000000,0,0,0.0,[],1,America Is Still the Place,0.0,0,[],[],NaN,en
3361,3361,0,77156,[],0.000372,0,0,90.0,['English'],1,Alien Zone,4.0,3,"['Horror', 'Action', 'Thriller', 'Science Fict...",['United States of America'],1978.0,en
4727,4727,0,65448,"['prison', 'boxing']",0.001117,0,0,99.0,['English'],1,Penitentiary,4.9,8,"['Action', 'Drama']",[],1979.0,en
4118,4118,0,325140,[],0.001186,0,0,0.0,[],1,Hum To Mohabbat Karega,0.0,0,[],[],2000.0,en
4625,4625,0,426067,[],0.001389,0,0,94.0,['English'],1,Midnight Cabaret,0.0,0,['Horror'],[],1990.0,en

In [25]:
df.popularity.sort_values()

4553      0.000000
3361      0.000372
4727      0.001117
4118      0.001186
4625      0.001389
           ...
127     434.278564
94      481.098624
788     514.569956
95      724.247784
546     875.581305
Name: popularity, Length: 4803, dtype: float64

## Q 9.

In [ ]:
# groupby language
df.groupby('language').mean().head()

In [26]:
# groupby status
df.groupby('language').revenue.mean()[:4]

language
af    9.879971e+06
ar    0.000000e+00
cn    3.374016e+07
cs    0.000000e+00
Name: revenue, dtype: float64

## Q 10.

In [28]:
df.dtypes

Unnamed: 0                int64
budget                    int64
id                        int64
keywords                 object
popularity              float64
production_companies      int64
revenue                   int64
runtime                 float64
spoken_languages         object
status                    int64
title                    object
vote_average            float64
vote_count                int64
genres_list              object
Countries                object
release_year            float64
language                 object
dtype: object

In [29]:
df.select_dtypes('float64')

      popularity  runtime  vote_average  release_year
0     150.437577    162.0           7.2        2009.0
1     139.082615    169.0           6.9        2007.0
2     107.376788    148.0           6.3        2015.0
3     112.312950    165.0           7.6        2012.0
4      43.926995    132.0           6.1        2012.0
...          ...      ...           ...           ...
4798   14.269792     81.0           6.6        1992.0
4799    0.642552     85.0           5.9        2011.0
4800    1.444476    120.0           7.0        2013.0
4801    0.857008     98.0           5.7        2012.0
4802    1.929883     90.0           6.3        2005.0

[4803 rows x 4 columns]

## Q 11

In [ ]:
## filter method use (shift + tab to know more)

In [4]:
df.runtime.min()

0.0

In [5]:
df.runtime.max()

338.0

In [30]:
df.min()

Unnamed: 0                                                              0
budget                                                                  0
id                                                                      5
keywords                                 ['adaptation', 'film in a film']
popularity                                                            0.0
production_companies                                                    0
revenue                                                                 0
runtime                                                               0.0
spoken_languages                      ['Afrikaans', 'English', 'isiZulu']
status                                                                  1
title                                                             #Horror
vote_average                                                          0.0
vote_count                                                              0
genres_list             ['Action', 'Adventure', 'Animation', 'Comedy',...
Countries                             ['Afghanistan', 'Ireland', 'Japan']
release_year                                                       1916.0
language                                                               af
dtype: object

In [31]:
df.max()

Unnamed: 0                    4802
budget                   380000000
id                          459488
keywords                        []
popularity              875.581305
production_companies            13
revenue                 2787965087
runtime                      338.0
spoken_languages                []
status                           3
title                          해운대
vote_average                  10.0
vote_count                   13752
genres_list                     []
Countries                       []
release_year                2017.0
language                        zh
dtype: object

## Q 12

In [32]:
df.nlargest(3,'vote_count')['title']

96          Inception
65    The Dark Knight
0              Avatar
Name: title, dtype: object

## Q 13

In [33]:
# for each type of status find mean of vote count and budget and revenue
df.groupby('status').agg(['mean'])[['budget','revenue','vote_count']]

              budget       revenue  vote_count
                mean          mean        mean
status
1       2.909267e+07  8.239771e+07  691.360792
2       1.120000e+04  0.000000e+00    1.000000
3       1.300000e+06  2.805777e+05   12.333333