Import necessary packages.
Read tmdb-datset and get last 2 rows.

Use `describe` and `info` method on the dataset.

Check the attributes `index`, `columns` and `values` of the dataset. Undestand the difference between method and attributes.

Check the datatypes of above attributes using `type` function. 

For ex. 
- type(tmdb_dataset.index)
- type(tmdb_dataset.index.values)

Check the datatypes of all columns in dataset.

What is the difference between `dtypes` and `dtype` ? Is `dtypes` method or attribute ?

What is 64 in `int64` or 32 in `int32` ?

Use `count` method for the dataset.

When do we use `count` method ?

In [ ]:
# tmdb_dataset.count().sum() # uncomment this.

Run following codes and understand the output.

In [ ]:
tmdb_dataset.isnull()

In [ ]:
tmdb_dataset.isnull().sum()

In [ ]:
tmdb_dataset.isnull().sum().sum()

Verify `total_total_values` = `total_non_null_values` + `total_null_values`

In how many diffrent languages movies were made ?

Which are those languages ?

How many movies were made in each language ?

Use `unique`, `nunique` and `value_counts` methods for `original_language` coulmn in the dataset.

Check first entry in `genres` column.

Replace `genres` column entries with the list of all genres for each movie. (Use regex)

For ex. for first entry - ['Action', 'Adventure', 'Fantasy', 'Science Fiction']

First try this with first entry and then use `for` loop to do the same for rest of the entries in that column.

Check first entry from `spoken_languages` column and do same thing as you did for above column.

So `spoken_languages` column should have entries in the form of list of languages.

Replace the entries of columns `production_countries` and `production_companies` with number of countries and companies respectively.
Use regex as you did above but this time instead of a list get the length of that list.

Remove `homepage`, `keywords`, `tagline`, `overview` columns and check the dataset if these columns are removed successfully.

Check the 50th entry from `release_date` column and grab only year out of that date.

Dothe same fro allthe entries in the column using `apply` method .

Change the names of columns `original_language` and `original_title` to `language` and `title` respectively.

Use `value_counts` method for `status`column and replace those values with integers starting from 1.

Check how many null values are there in each column and get all columns that have more than zero null values.

Fill all null values in `runtime` column with the average of all the values.

Verify whether `runtime` column still has any null values.

Fill all null values in `release_date` column with the most frequent value appearing in that column and verify it.

Save this processed dataset in the form of `csv` file.

## EDA  (Making sense of data)

In [ ]:
import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline

## 1.

Find correlation between `revenue`,`runtime`,`popularity`,`budget`,`vote_count` columns using heatmap.

Find out which three pairs have more correlation.

## 2.

Draw `sctterplot` between `budget` and `revenue` columns. What is your conclusion from the graph ?

## 3.

Draw `countplot` for `status` column using seaborn.

## 4.

Draw `sctterplot` between `popularity` and `revenue` columns. What is your conclusion from the graph ?

## 5.

Uncomment the code cell below. Draw some conclusion from the graph given below.

In [ ]:
# plt.plot(tmdb_dataset.vote_average, tmdb_dataset.popularity)