## First dataset

Read `userprofile` dataset and check its shape.

## Second dataset

Read `userpayment` dataset and check its shape.

You can see some discrepancy here - there are 138 users but 177 rows in this dataset.

As there are multiple ways emplyed by single user for the payment. 

Which `aggregate` method could be used to group a dataframe by `userID` ?

After `groupby` method, do not forget to reset the index since all these datasets are to be joined to create single dataframe at the end.

## Third dataset

Read `usercuisine` dataset and check it's shape.

As you have done above, use same `aggregate` method and `reset index`.

## Join all three datasets.

Change `userid` column removing 'U' from every entry using `apply` method and make it an index column of dataframe.

Check for null values if there are any then fill it with most occurring value in that column.( `Fillna()` method. )

Check datatypes of all columns.

Select columns with 'object' datatypes.

Make a list of all such columns and store it in a variable `column_list` .

You can see, all these are categorical columns. You can check that using `value_counts()` method for all columns.

In [ ]:
column_list[0]

In [ ]:
column_list[0].value_counts()

In [ ]:
df[column_list[0]].unique()

Try replacing all the unique values from `smoker` column with integers ranging from zero.

Do this for all the columns in `column_list` using `for` loop.

Now check the new-formed dataframe It should contain only numbers as values.

Save this dataframe as `csv` file.